body{background-color: aqua;}

#betstarts{
    background-color: navy;
}

ul.bet li {
    display: inline-block;
    width: 100px;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
}


ul.numbers li {
    background-color: hotpink;
}

ul.starts li {
    background-color: yellow;
}

li {background-color: aquamarine;}

div li {background-color: blueviolet;}

ul li {background-color: black;}

ul.bet.stars li {background-color: darkgoldenrod;}